@import '_variables';

* {
    box-sizing: border-box;
    font-family: $primary-font;
}

html {
    background: #f8f9fb;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: $XXL;
    font-weight: 300;

    &.PageTitle {
        margin: 20px 0;
    }
}

.Page {
    width: 100%;
    padding: 25px;
}

.Grid {
    display: flex;

    .MainContent {
        flex: 0 0 65%;
        padding-left: 25px;
    }

    .Sidebar {
        flex: 0 0 35%;
    }
}