@import '_variables';
@import '_mixins';

* {
    box-sizing: border-box;
    font-family: $primary-font;
}

html {
    background: #f8f9fb;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: $XXL;
    font-weight: 300;

    &.PageTitle {
        margin: 20px 0;
    }
}

.Page {
    position: relative;
    
    width: 100%;
    padding: 25px;
}

.Grid {
    display: flex;

    .MainContent {
        flex: 0 0 65%;
        padding-left: 25px;
    }

    .Sidebar {
        flex: 0 0 35%;
    }
}

.autocomplete__suggestions {
    border-radius: 0 0 5px 5px;
    overflow-y: scroll;
    max-height: 250px;
    @include shadow();

    .autocomplete__entry {
        padding: 3px 5px;
    }
}