@import '_variables';
@import '_mixins';

* {
    box-sizing: border-box;
    font-family: $primary-font;

    &:focus {
        outline: none;
    }
}

html {
    background: #f8f9fb;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: $XL;
    font-weight: 300;

    &.PageTitle {
        position: relative;

        margin: 20px 0;

        .Actions {
            margin: 15px 0 25px 0;

            @include Breakpoint(Large, ExtraLarge) {
                position: absolute;
                right: 0;
                top: -8px;

                margin: 0;
            }

            .Button {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.Page {
    position: relative;
    
    width: 100%;
    min-height: calc(100vh - 60px);
    margin-top: 60px;
    padding: 25px;

    @include Breakpoint(Large, ExtraLarge) {
        margin-top: 0;
    }
}

.Grid {
    display: flex;
    flex-direction: column;

    @include Breakpoint(Large, ExtraLarge) {
        flex-direction: row;
    }

    .MainContent {
        flex: 0 0 65%;
    }

    .Sidebar {
        flex: 0 0 35%;
    }

    .Last {

        @include Breakpoint(Large, ExtraLarge) {
            padding-left: 25px;
        }
    }
}

@media print {

    * {
        -webkit-print-color-adjust: exact;
    }

    #main-navigation,
    #top-bar,
    .PageTitle .Actions,
    #breadcrumbs {
        display: none !important;
    }

    .Grid {
        flex-direction: column;

        .MainContent {
            flex: 0 0 100%;
            padding-left: 0;
        }

        .TableContainer {

            header {
                background: #666 !important;
                color: #fff !important;
            }
        }
    }
}