@import '_variables';
@import '_mixins';

.OverviewTable {
    border-radius: 5px;
    background: $white;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    overflow: hidden;

    header {
        @include gradient($primary-color, $secondary-color);
        padding: 15px;
        color: $white;
        font-size: $N;
    }

    footer {
        padding: 12px 10px;
        font-size: $N;
        text-align: right;
        border-top: 1px solid $light-color;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    .TableRow {
        text-decoration: none;

        &:nth-child(odd) {
            background: rgba(0,0,0,0.02);
        }

        &.TableHeader {
            background: $white;
            font-weight: 600;
        
            td {
                border-bottom: 1px solid $light-color;

                font-size: $N;
                font-weight: 600;

                i {
                    font-size: $SN;
                    margin-left: 5px;
                }
            }
        }

        td {
            padding: 12px 10px;

            font-size: $SN;
            color: $dark-color;

            &.Sortable {
                cursor: pointer;
            }

            &.RecipeTitle {
                position: relative;
                padding-left: 40px;

                .EBCBadge {
                    position: absolute;
                    left: 10px;
                }
            }

            input {
                height: 25px;
                line-height: 25px;
                border: none;
                background: none;
                font-size: $SN;
            }
        }
    }

    .RemoveFields {
        cursor: pointer;
    }

    .Button {
        display: inline-block;
        margin-left: 10px;
        border: none;
        border-radius: 5px;
        padding: 5px 8px;
        color: $white;
        background: $blue;
        text-decoration: none;
        font-size: $SN;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }

        &.Delete {
            background: $red;
        }

        &.New {
            display: inline-block;
            padding: 10px 14px;

            background: $brown;

            font-size: $N;
            color: $white;
        }

        i {
            margin-right: 4px;
        }
    }
}