@import '_variables';
@import '_mixins';

.TableContainer {
    overflow: hidden;
    margin-bottom: 25px;

    border-radius: 5px;

    background: $white;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

    &.Fermentables {

        header {
            @include gradient(#773f19, #a26a44);
        }
    }

    &.Hops {
        
        header {
            @include gradient(#afc40c, #c6db20);
        }
    }

    &.Mash {
        
        header {
            @include gradient(#ad0616, #ea1920);
        }
    }

    &.Yeast {
        
        header {
            @include gradient(#7a7453, #9c956d);
        }
    }
    
    &.Water {
        
        header {
            @include gradient(#089bd9, #0082c7);
        }
    }

    header {
        @include gradient($primary-color, $secondary-color);
        padding: 15px;
        color: $white;
        font-size: $N;
    }

    footer {
        padding: 12px 10px;
        font-size: $N;
        text-align: right;
        border-top: 1px solid $light-color;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    .TableRow {
        text-decoration: none;

        &:nth-child(odd) {
            background: rgba(0,0,0,0.02);
        }

        &.TableHeader {
            background: $white;
            font-weight: 600;
        
            td {
                border-bottom: 1px solid $light-color;

                font-size: $N;
                font-weight: 600;

                i {
                    font-size: $SN;
                    margin-left: 5px;
                }
            }
        }

        td {
            position: relative;

            padding: 12px 10px;

            font-size: $SN;
            color: $dark-color;

            &.Sortable {
                cursor: pointer;
            }

            &.RecipeTitle {
                position: relative;
                padding-left: 40px;

                .EBCBadge {
                    position: absolute;
                    left: 10px;
                }
            }

            input {
                width: 100%;
                height: 25px;
                line-height: 25px;

                border: none;
                background: none;

                font-size: $SN;
            }

            .InputLabel {
                position: absolute;
                right: 30px;
                top: 50%;

                transform: translateY(-50%);

                font-size: $SN;
            }
        }
    }

    .RemoveFields {
        text-align: right;
        font-size: $N;

        a {
            cursor: pointer;
        }
    }

    .Button {
        display: inline-block;
        margin-left: 10px;
        border: none;
        border-radius: 5px;
        padding: 5px 8px;
        color: $white;
        background: $blue;
        text-decoration: none;
        font-size: $SN;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }

        &.Delete {
            background: $red;
        }

        &.New,
        &.Add {
            display: inline-block;
            padding: 10px 14px;

            background: $brown;

            color: $white;
        }

        &.New {
            font-size: $N;
        }

        i {
            margin-right: 4px;
        }
    }

    .CalculatedKeyFacts {
		display: flex;
		width: 100%;
		flex-direction: row;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			flex: 0 0 33.3%;
			color: $extradark-color;
			text-align: center;
			font-size: $L;
			font-weight: bold;

			.EBCBadge {
				position: relative;
				top: 1px;

				margin-right: 0;
			}

			footer {
				padding: 15px 0 0;

				border-top: none;

				color: $semidark-color;
				text-align: center;
				font-weight: normal;
			}
		}
	}
}