//Colors
$primary-color: #ffc14a; 
$secondary-color: #ffdb64; 
$white: #ffffff;
$light-color: #eaeaea;
$semidark-color: #666666;
$dark-color: #263238;
$extradark-color: #21292b;
$blue: #089bd9;
$red: #d3081c;

//Fonts
$primary-font: 'Source Sans Pro', sans-serif;

//Font size
$S: 12px;
$SN: 14px;
$N: 18px;
$L: 24px;
$XL: 36px;
$XXL: 42px;